<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/structure/head.ejs') %> 
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <%- include ('partials/content/nav.ejs') %>
    </header>

    <div class="push-down"></div>

    <!-- /albums -->
    <% if (albums) { %>
      <%- include ('partials/content/displayAlbums.ejs') %> 
    <% } %>

    <!-- /albums/id -->
    <% if (album) { %>
      <%- include ('partials/content/displayAlbum.ejs') %> 
    <% } %>

  </div>
</body>
</html> 