<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/structure/head.ejs') %>
</head>
<body>
  <div class="container">
    <header>
      <%- include ('partials/content/nav.ejs') %>
    </header>

    <div class="push-down"></div>

    <div class="chatroom-container">
      <div class="form-title" style="margin-top: 1rem;">Chatroom</div>
      <form class="chatroom-form">
        <label for="username">Username: </label> <br>
        <input id="form-chat-username" name="username" placeholder="Your username.." type="text" required > <br>
        <label for="username">Message: </label> <br>
        <input id="form-chat-message" name="message" placeholder="Enter your message here.." rows="2" cols="70" required></textarea> <br>
        <div class="button-wrapper">
          <input id="submit-button" type="submit" value="Message"></button>
        </div>
      </form>
      <div class="chatroom-message-container">
        <div class="form-title">Chatroom Messages</div>
        <div class="chatroom-messages">
          <!-- Chat Messages go here -->
        </div>
      </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
  <script src="/js/modules/luxon.js"></script>
  <script type='module' src="/js/chatroom.js"></script>
  </div>
</body>
</html>