<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/structure/head.ejs') %>
</head>
<body>
  <div class="container">
    <header>
      <%- include ('partials/content/nav.ejs') %>
    </header>

    <div class="push-down"></div>

    <div class="chatroom-container">
      <div class="form-title" style="margin-top: 1rem;">Chatroom</div>
      <form class="chatroom-form">
        <label for="username">Username: </label> <br>
        <input id="form-chat-username" name="username" placeholder="Your username.." type="text" required > <br>
        <label for="username">Message: </label> <br>
        <input id="form-chat-message" name="message" placeholder="Enter your message here.." rows="2" cols="70"></textarea> <br>
        <div class="button-wrapper">
          <input id="submit-button" type="submit" value="Message"></button>
        </div>
      </form>
      <div class="chatroom-message-container">
        <div class="form-title">Chatroom Messages</div>
        <div class="chatroom-messages">
        Consequatur molestias enim fugit veniam nostrum, ea tenetur et quos veritatis cum laudantium optio, minima temporibus, rem excepturi ab. Aperiam quisquam vero labore ex ipsum impedit consequatur doloremque enim voluptatibus?
        Maiores hic, est facilis dignissimos quas eius rerum exercitationem reprehenderit aperiam aliquid, atque, accusantium at ratione iure quam consequatur libero earum error quia facere eos? Voluptate quasi voluptatum deserunt et.
        Consequatur molestias enim fugit veniam nostrum, ea tenetur et quos veritatis cum laudantium optio, minima temporibus, rem excepturi ab. Aperiam quisquam vero labore ex ipsum impedit consequatur doloremque enim voluptatibus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quod molestias, in quos, non odio impedit libero qui reiciendis provident consectetur. Aliquam quidem non, itaque nesciunt voluptates facilis expedita. Labore.
        Doloribus veritatis officia ad sint doloremque rem qui aliquid neque expedita! Illo, totam. Recusandae voluptate, officia inventore reiciendis aspernatur ducimus, fugit harum minus totam illo dignissimos accusantium beatae obcaecati consequuntur!
        Dignissimos doloribus quae incidunt, tempore sapiente expedita iste molestias unde voluptas quam, nobis accusantium excepturi. Libero officia, tempore placeat iusto quia, aliquid magni nihil quasi eos mollitia molestiae, repellendus odio?
        Libero explicabo, in tenetur aliquam omnis dolorum quisquam modi quasi? Doloribus veniam omnis molestiae error. Odio optio molestias ullam veniam recusandae quo! Inventore quidem unde tenetur molestias, ipsum cum in.
        Quidem, error incidunt? Consequatur magni reprehenderit, veritatis amet sequi laboriosam facere ducimus tempore unde aut voluptas eaque soluta quasi impedit hic modi fugiat! Quas, quam accusamus nihil pariatur recusandae neque.
        Tempora architecto aspernatur quis sunt nam, possimus ex nisi deleniti unde earum a quo consequuntur pariatur doloremque sed aut quod blanditiis dolore vel omnis enim, praesentium nostrum in odit! Assumenda.
        Ipsa quas unde cum laudantium magnam. Esse non rerum atque, explicabo praesentium libero minus error alias quos modi pariatur, quis quod nesciunt earum repellendus quas quae nihil quam doloribus? Optio!
        Et temporibus minus quod alias? Corporis est accusamus nisi explicabo quasi maiores, animi dolore aperiam aliquam impedit laborum maxime, quo similique aliquid sint deserunt earum a ducimus. Harum, aspernatur consectetur?
      </div>
      </div>
    </div>

  </div>
</body>
</html>