<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/structure/head.ejs') %> 
</head>
<body>
  <div class="container">
    <div class="img-container">
      <header>
        <%- include ('partials/content/nav.ejs') %>
      </header>
    </div>
  </div>
</body>
</html>