<!-- Title -->
<div class="site-title">
  <div class="title">
      <h1>Porter Robinson</h1>
      <p class="subtitle">【=◈︿◈=】</p>
  </div>
  <!-- Nav -->
  <nav>
      <ul class="nav-list">
          <li class="nav-list-item"><a class="nav-link current-page" href="/" >Home</a></li>
          <li class="nav-list-item"><a class="nav-link about-me" href="/aboutme" >About Me</a></li>
          <li class="nav-list-item"><a class="nav-link recent-posts" href="/albums" >Discography</a></li>
      </ul>
  </nav>
</div>